{% extends "ups/base.html" %}
{% block content %}
<h1>Welcome to our UPS</h1>
<h2>We will provide the best service to you!</h2>

<br>
<p class = "main">
  Track your Package: You can track your package here by entering your tracking number. You can do it without login.
</p>


<br>
<br>
<p class = "main">
  All your packages: Please Login in first. After that, you can see all your packages information here.
</p>

<br>

<p class = "main">
  Hope you have a good experience with us!
</p>

{% endblock content %}
