{% extends 'ups/base.html' %}
{% block content %}

<br>
<p>
  All your packages are displayed here.
</p>
<br>

<p>
    If the status of your package is "not for delivery" now, you can click the Change button to change the destination
</p>
<br>

<p>
    After your package is delivered, you can start to evaluate out service by clicking Evaluate button
</p>
<br>


<table border="1">
    <!-- tr表示每一行， td表示每一个元素 -->
    <thead>
        <tr>
            <!-- tr表示table row， 指一行 -->
            <!-- th相当于是列表的头，告知这一列是什么元素 -->
            <th>  Package Id  </th>
            <th> Destination X </th>
            <th> Destination Y </th>
            <th> Package Status </th>
            <th>  Description  </th>
            <th> Change Destination  </th>
            <th> Evaluation  </th>
        </tr>
    </thead>

    <tbody>
        {% for package in object_list %}
        <tr>
            <!-- td表示每一行里面的元素 -->
            <td>{{ package.packageid }}</td>
            <td>{{ package.destx }}</td>
            <td>{{ package.desty }}</td>
            <td>{{ package.packagestatus }}</td>
            <td>{{ package.description }}</td>

            {% if package.packagestatus == 'out for delivery' or package.packagestatus == 'delivered'%}
            <td>Cannnot Change now!</td>
            {% else %}
            <td><button onclick="window.location.href='{% url 'package-update' package.id %}'">Change</button></td>
            {% endif %}

            {% if package.packagestatus != 'delivered'%}
                <td>Cannnot Evaluate now!</td>
            {% else %}
                {% if package.evaluation == 'none'%}
                    <td><button onclick="window.location.href='{% url 'package-evaupdate' package.id %}'">Evaluate</button></td>
                {% else %}
                    <td>{{ package.evaluation }}</td>
                {% endif %}
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
